/* Basic Configurations */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
}

ol, ul li{
    list-style: none;
}

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

html{
    scrollbar-width: none;

}

:root{
    --half-rem: 0.5rem;
    --one-rem: 1rem;
    --one-and-half-rem: 1.5rem;
    --two-rem: 2rem;
    --v-8px: 8px;
    --v-10px: 10px;
    --v-12px: 12px;
    --v-15px: 15px;
    --v-20px: 20px;
    --v-25px: 25px;
    --fz-10: 10px;
    --fz-12: 12px;
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-35: 35px;
    --fz-36: 36px;
    --fw--400: 400;
    --fw--500: 500;
    --fw--600: 600;
    --fw--700: 700;


}






.layout {  
    background-color: #F9FAFB;
    padding: var(--one-rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "details3"
        "details2"
        "details1"
        "activities"
        "transactions"
        "bills"
        "budget"
        "income"
        "summary"
        "methods";
    width: 100%;
}



.header { 
    grid-area: header;
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    padding-inline: var(--v-12px);
    padding-block: var(--v-20px);
    border: #ECEDEE solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    box-shadow: 2px 2px #F3F4F5;
}


.header-r {
  padding: var(--v-12px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}



.header-r-l {
  background-color: #F0FDF4;
  border-radius: 5px;
  border: #DBFCE7 solid 1px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3bb54a; 
  font-weight: var(--fw--600);
  gap: 6px;
  font-size: var(--fz-10);
  padding: var(--v-10px);

}



.header-r-l::after {
  content: "";
  display: inline-block;
  width: var(--v-12px);
  height: var(--v-12px);
  background-color: #3bb54a;
  border-radius: 50%;
}




.header-r-m {
  width: 35%;
  text-align: right;
  line-height: 1.1;
}



.header-r-m h1 {
  font-weight: var(--fw--700);
  font-size: var(--fz-18);
  margin: 5px;
  color: oklch(0.21 0.034 264.665)
;
}




.header-r-m p {
  font-weight: var(--fw--600);
  font-size: var(--fz-14);
  margin: 0;
  color: oklch(0.446 0.03 256.802);
}





.header-r-r {
  width: 15%;
  background-color: #3A3FE4;
  border-radius: var(--v-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--v-12px);
}


.header-r-r img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.header-l{
    padding: var(--v-12px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.header-l-r {
    width: 15%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-r img{
 width: 100%;
  height: auto;
  object-fit: contain;
}



.header-l-m {
    width: 15%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-m img{
 width: 100%;
  height: auto;
  object-fit: contain;
}

.header-l-m:hover{
    background-color: #F3F4F6;
}

.header-l-r:hover{
    background-color: #F3F4F6;
}



.header-l-l{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
}


.header-l-l .header-l-l-r{
    width: 70%;
    display: flex;
    padding: var(--v-20px);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-end
}


.header-l-l .header-l-l-r h2{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.header-l-l .header-l-l-r p{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--v-12px);
    font-weight: var(--fw--600);
}






.header-l-l .header-l-l-l{
    width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.header-l-l .header-l-l-l img{
    width: 100%;
  border-radius: var(--v-12px);
  height: auto;
  object-fit: contain;

}






.details1 {
    grid-area: details1;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}



.details1 .details1-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details1-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details1 .details1-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
}

.details1-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details1-c3 .details1-c3-p{
    color:oklch(0.577 0.245 27.325);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details1-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details1-c3 .details1-c3-photo img{
    width: 100%;
    filter: hue-rotate(224deg) saturate(10);
}

.details1-c3-p{
    text-align: right;
    width: 90%;
}




.details2 { 
    grid-area: details2;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details2 .details2-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details2-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details2 .details2-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    





.details2-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details2-c3 .details2-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details2-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details2-c3 .details2-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details2-c3-p{
    text-align: right;
    width: 90%;
}










.details3 { 
    grid-area: details3; 
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details3 .details3-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details3 .details3-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    



.details3-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details3-c3 .details3-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details3-c3 .details3-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details3-c3-p{
    text-align: right;
    width: 90%;
}
























.transactions { grid-area: transactions;
background-color: saddlebrown; }

.activities { grid-area: activities;
background-color: blue; }

.bills { grid-area: bills;
background-color: tan; }

.methods { grid-area: methods; 
background-color: tomato}

.income { grid-area: income;
background-color: brown; }

.summary { grid-area: summary;
background-color: yellow; }

.budget { grid-area: budget;
background-color: skyblue; }




.aside{
    visibility: hidden;
    position: fixed;
}







@media (min-width:640px) {

    
.layout {  
    background-color: #F9FAFB;
    padding: var(--one-rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "details3"
        "details2"
        "details1"
        "activities"
        "transactions"
        "bills"
        "budget"
        "income"
        "summary"
        "methods";
    width: 100%;
}

    
    
.header { 
    grid-area: header;
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    padding-inline: var(--v-12px);
    padding-block: var(--v-20px);
    border: #ECEDEE solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    box-shadow: 2px 2px #F3F4F5;
}


.header-r {
  padding: var(--v-12px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}



.header-r-l {
  background-color: #F0FDF4;
  border-radius: 5px;
  border: #DBFCE7 solid 1px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3bb54a; 
  font-weight: var(--fw--600);
  gap: 6px;
  font-size: var(--fz-10);
  padding: var(--v-10px);

}



.header-r-l::after {
  content: "";
  display: inline-block;
  width: var(--v-12px);
  height: var(--v-12px);
  background-color: #3bb54a;
  border-radius: 50%;
}




.header-r-m {
  width: 35%;
  text-align: right;
  line-height: 1.1;
}



.header-r-m h1 {
  font-weight: var(--fw--700);
  font-size: var(--fz-18);
  margin: 5px;
  color: oklch(0.21 0.034 264.665)
;
}




.header-r-m p {
  font-weight: var(--fw--600);
  font-size: var(--fz-14);
  margin: 0;
  color: oklch(0.446 0.03 256.802);
}





.header-r-r {
  width: 12%;
  background-color: #3A3FE4;
  border-radius: var(--v-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--v-12px);
}


.header-r-r img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.header-l{
    padding: var(--v-12px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.header-l-r {
    width: 12%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-r img{
 width: 100%;
  height: auto;
  object-fit: contain;
}



.header-l-m {
    width: 12%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-m img{
 width: 100%;
  height: auto;
  object-fit: contain;
}

.header-l-m:hover{
    background-color: #F3F4F6;
}

.header-l-r:hover{
    background-color: #F3F4F6;
}



.header-l-l{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
}


.header-l-l .header-l-l-r{
    width: 70%;
    display: flex;
    padding: var(--v-20px);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-end
}


.header-l-l .header-l-l-r h2{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.header-l-l .header-l-l-r p{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--v-12px);
    font-weight: var(--fw--600);
}






.header-l-l .header-l-l-l{
    width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.header-l-l .header-l-l-l img{
    width: 100%;
  border-radius: var(--v-12px);
  height: auto;
  object-fit: contain;

}






.details1 {
    grid-area: details1;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}



.details1 .details1-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details1-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details1 .details1-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
}

.details1-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details1-c3 .details1-c3-p{
    color:oklch(0.577 0.245 27.325);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details1-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details1-c3 .details1-c3-photo img{
    width: 100%;
    filter: hue-rotate(224deg) saturate(10);
}

.details1-c3-p{
    text-align: right;
    width: 90%;
}




.details2 { 
    grid-area: details2;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details2 .details2-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details2-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details2 .details2-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    





.details2-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details2-c3 .details2-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details2-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details2-c3 .details2-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details2-c3-p{
    text-align: right;
    width: 90%;
}










.details3 { 
    grid-area: details3; 
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details3 .details3-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details3 .details3-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    



.details3-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details3-c3 .details3-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details3-c3 .details3-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details3-c3-p{
    text-align: right;
    width: 90%;
}
























.transactions { grid-area: transactions;
background-color: saddlebrown; }

.activities { grid-area: activities;
background-color: blue; }

.bills { grid-area: bills;
background-color: tan; }

.methods { grid-area: methods; 
background-color: tomato}

.income { grid-area: income;
background-color: brown; }

.summary { grid-area: summary;
background-color: yellow; }

.budget { grid-area: budget;
background-color: skyblue; }




.aside{
    visibility: hidden;
    position: fixed;
}

}


@media (min-width:768px) {
 
    
.header-r-r {
  width: 10%;
  background-color: #3A3FE4;
  border-radius: var(--v-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--v-12px);
}


.header-r-r img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



.header-l-r {
    width: 10%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-r img{
 width: 100%;
  height: auto;
  object-fit: contain;
}



.header-l-m {
    width: 10%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-m img{
 width: 100%;
  height: auto;
  object-fit: contain;
}

.header-l-m:hover{
    background-color: #F3F4F6;
}

.header-l-r:hover{
    background-color: #F3F4F6;
}






.header-l-l{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
}























    


.aside{
    visibility: hidden;
    position: fixed;
}



}

@media (min-width:1024px) {
    
.layout {  
    background-color: #F9FAFB;
    padding: var(--one-rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 2em;
    grid-template-areas:
        "header header header"
        "details1 details2 details3"
        "transactions transactions activities"
        "transactions transactions bills"
        "methods income budget"
        "methods summary budget";
    width: 80%;
}



.header { 
    grid-area: header;
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    padding-inline: var(--v-12px);
    padding-block: var(--v-20px);
    border: #ECEDEE solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px #F3F4F5;
}


.header-r {
  width: 35%;
  padding: var(--v-12px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-r-l{
    padding: 10px;
    width: 25%;
}



.header-r-l {
  background-color: #F0FDF4;
  border-radius: 5px;
  border: #DBFCE7 solid 1px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #3bb54a; 
  font-weight: var(--fw--600);
  gap: 6px;
  font-size: var(--fz-14);
}



.header-r-l::after {
  content: "";
  display: inline-block;
  width: var(--v-12px);
  height: var(--v-12px);
  background-color: #3bb54a;
  border-radius: 50%;
}




.header-r-m {
  width: 40%;
  text-align: right;
  line-height: 1.1;
}



.header-r-m h1 {
  font-weight: var(--fw--700);
  font-size: var(--fz-35);
  margin: 5px;
  color: oklch(0.21 0.034 264.665)
;
}




.header-r-m p {
  font-weight: var(--fw--600);
  font-size: var(--fz-14);
  margin: 0;
  color: oklch(0.446 0.03 256.802);
}





.header-r-r {
  width: 20%;
  background-color: #3A3FE4;
  border-radius: var(--v-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--v-12px);
}


.header-r-r img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.header-l{
    width: 35%;
    padding: var(--v-12px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header-l-r {
    width: 15%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-r img{
 width: 100%;
  height: auto;
  object-fit: contain;
}



.header-l-m {
    width: 15%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
    padding: 10px;
}


.header-l-m img{
 width: 100%;
  height: auto;
  object-fit: contain;
}

.header-l-m:hover{
    background-color: #F3F4F6;
}

.header-l-r:hover{
    background-color: #F3F4F6;
}



.header-l-l{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #F3F4F5;
    border: #ECEDEE solid 1px;
    border-radius: var(--v-12px);
}


.header-l-l .header-l-l-r{
    width: 70%;
    display: flex;
    padding: var(--v-20px);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-end
}


.header-l-l .header-l-l-r h2{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-12);
    font-weight: var(--fw--600);
}

.header-l-l .header-l-l-r p{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-12);
    font-weight: var(--fw--600);
}






.header-l-l .header-l-l-l{
    width: 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.header-l-l .header-l-l-l img{
    width: 100%;
  border-radius: var(--v-12px);
  height: auto;
  object-fit: contain;

}


.details1 {
    grid-area: details1;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}



.details1 .details1-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details1-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details1 .details1-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
}

.details1-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details1-c3 .details1-c3-p{
    color:oklch(0.577 0.245 27.325);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details1-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details1-c3 .details1-c3-photo img{
    width: 100%;
    filter: hue-rotate(224deg) saturate(10);
}

.details1-c3-p{
    text-align: right;
    width: 90%;
}




.details2 { 
    grid-area: details2;
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details2 .details2-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}

.details2-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details2 .details2-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    





.details2-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details2-c3 .details2-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details2-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details2-c3 .details2-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details2-c3-p{
    text-align: right;
    width: 90%;
}





.details3 { 
    grid-area: details3; 
    padding: var(--one-and-half-rem);
    background-color: #FBFCFE; 
    border-radius: var(--v-12px);
    border: #ECEDEE solid 1px;
    box-shadow: 2px 2px #F3F4F5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.details3 .details3-c1 h3{
    color: oklch(0.551 0.027 264.364);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
}



.details3 .details3-c2-p{
    color: oklch(0.21 0.034 264.665);
    font-size: var(--fz-36);
    font-weight: var(--fw--700);
    
}    



.details3-c3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}


.details3-c3 .details3-c3-p{
    color: oklch(0.627 0.194 149.214);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
}



.details3-c3-photo{
    display: flex;
    align-items: center;
    width: 5%;
}

.details3-c3 .details3-c3-photo img{
    width: 100%;
    transform: rotateX(180deg);
}

.details3-c3-p{
    text-align: right;
    width: 90%;
}






.transactions { grid-area: transactions;
background-color: saddlebrown; }

.activities { grid-area: activities;
background-color: blue; }

.bills { grid-area: bills;
background-color: tan; }

.methods { grid-area: methods; 
background-color: tomato}

.income { grid-area: income;
background-color: brown; }

.summary { grid-area: summary;
background-color: yellow; }

.budget { grid-area: budget;
background-color: skyblue; }



.aside {
  width: 20%;
  padding: var(--one-and-half-rem);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #FFFFFF;
  visibility: visible;
  direction: rtl;
  scrollbar-gutter: stable right;
  scrollbar-width: thin;
  scrollbar-color: #c5c7ca #f1f3f5;
}

.aside::-webkit-scrollbar {
  width: 6px;
}

.aside::-webkit-scrollbar-thumb {
  background-color: #c5c7ca;
  border-radius: 10px;
}

.aside::-webkit-scrollbar-thumb:hover {
  background-color: #aeb1b5;
}

.aside::-webkit-scrollbar-track {
  background-color: #f1f3f5;
}














.aside-c1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: var(--v-10px);
    margin-bottom: var(--v-25px);
}




.aside-c1-r {
  width: 30%;
  background-color: #3A3FE4;
  border-radius: var(--v-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--v-10px);
}


.aside-c1-r img {
  width: 100%;
  height: auto;
  object-fit: contain;
}



.aside-c1-l h1 {
  font-weight: var(--fw--700);
  font-size: var(--fz-35);
  margin: 4px;
  color: oklch(0.21 0.034 264.665);
}


.aside-c1-l p {
  font-weight: var(--fw--600);
  font-size: var(--fz-14);
  margin: 0;
  color: oklch(0.446 0.03 256.802);
}

.aside-c1-l{
    width: 70%;
}



.aside-c2-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: var(--v-15px);
    column-gap: var(--v-8px);
    cursor: pointer;
    margin-bottom: var(--v-10px);
}


.special{
    background-color: #EFF6FF;
    border-radius: var(--v-10px);
    border: solid 2px #E5F0FF;
}

.blue-color p{
    color: oklch(0.488 0.243 264.376);
}
.blue-color1 p{
    color: oklch(0.446 0.03 256.802);
}

.special1{
    font-size: var(--fz-16);
    font-weight: var(--fw--600);
}

.special1:hover{
    background-color: #F9FAFB;
}


.aside-c2-c .aside-c2-c-photo{
    width: 12%;
    display: flex;
    align-items: center;
}
.aside-c2-c .aside-c2-c-photo img{
    width: 100%;
}
.aside-c2-c .aside-c2-c-p{
    width: 80%;
}
.aside-c2-c .aside-c2-c-p p{
    font-weight: var(--fw--600);
    font-size: var(--fz-16);
}


.aside-c3 h3{
    color: oklch(0.373 0.034 259.733);
    font-size: var(--fz-14);
    font-weight: var(--fw--600);
    margin-bottom: var(--v-10px);
}


.aside-c3-c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: var(--v-15px);
    column-gap: var(--v-8px);
    cursor: pointer;
    margin-bottom: 7px;
}

.aside-c3-c .aside-c3-c-photo{
    width: 17%;
    display: flex;
    align-items: center;
    background-color: #EAF3FF;
    padding: 8px;
    border-radius: var(--v-10px);
}
.aside-c3-c .aside-c3-c-photo img{
    width: 100%;
}


.aside-c3-c-p{
    width: 70%;
}


.aside-c3-c-p p{
    font-weight: var(--fw--500);
    font-size: var(--fz-14);
    color: oklch(0.446 0.03 256.802);
    transition: transform  1s;
}

.special3{
    transition: transform 0.5s;
}

.special2:hover .aside-c3-c-p p{
    color: rgb(17, 24, 39);
}

.special3:hover{
    background-color: #FAFAFA;
    transform: translate(5px,-2px);
}
.special3:hover .aside-c3-c-photo{
    background-color: #DBE8FC;
}





}

@media (min-width:1280px) {
    
}

@media (min-width:1582px) {
    
}